---
import Skills from "../components/Skills.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="md:mx-4">
    <h3 class="text-2xl text-gray-800 font-bold mb-4">من کی هستم ؟</h3>
    <p class="text-sm text-gray-400 leading-6 mb-3">
      مهندس کامپیوتر با 5 سال سابقه در زمینه کار با سیستم هوش مصنوعی، یادگیری
      ماشین و فناوری‌های اتوماسیون. به دنبال تقویت مهارت‌های مدیریتی و رهبری به
      عنوان مهندس کامپیوتر در شرکت شما. از جمله دستاوردهای من در طول سال‌های
      کاری افزایش عملکرد جمع آوری ضرب در الگوریتم‌های اختصاصی DSP به میزان 5% از
      طریق تجزیه و تحلیلی سیستم و تراشه.
    </p>
    <h3 class="text-2xl text-gray-800 font-bold mb-4">
      علاقه‌مندی‌ها و تفریحات
    </h3>
    <p class="text-sm text-gray-400 leading-6 mb-3">
      شرکت در دوره های برنامه نویسی. یادگیری زبان‌های مختلف برنامه نویسی. ورزش و
      کوه نوردی. مطالعه کتاب و مقالات تکنولوژی.
    </p>
  </div>
  <Skills />
  <p>
    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
    طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
    لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
    بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و
    آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت
    بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در
    زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود
    در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
    حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی
    اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
    از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه
    و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
    نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
    در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد،
    تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
    خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت
    که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و
    زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل
    دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.لورم ایپسوم متن ساختگی با
    تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها
    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط
    فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
    باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
    متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای
    علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت
    می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ
    به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی
    سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
  </p>
</MainLayout>
