---

---

<footer class="bg-white p-4 absolute bottom-0 left-0 w-full">
  <div class="container px-4">
    <p class="text-sm text-gray-400 text-center">
      پروژه
      <a
        class="text-purple-600"
        href="https://hosseinhunta.live"
        rel="nofollow"
      >
        احسان فردین
      </a>
    </p>
  </div>
</footer>
