---

---

<div class="h-60 w-full">
  <img
    src="https://i.pinimg.com/736x/4b/96/62/4b96626f88867adb30b13c565e41e0a9.jpg"
    alt="cover"
    class="w-full h-full object-cover object-center"
  />
</div>
